*{
    margin:0;
}

header{
    width: 100%;
    min-height: 120px;
    background-color: red;
}

h1{
    margin-left: 20px;
}

main{
    width:100%;
    min-height:500px;
    background-color: blue;
    display:flex;
}

section{
    width:75%;
    min-height: 500px;
    background-color: green;
    display:inline-block;
    margin:0;
    padding:0;

}

table td{
    border:1px solid black;
}
aside{
    width:24.73%;
    min-height: 500px;
    background-color: violet;
    display:inline-block;
    margin:0;
    padding:0;
}