*{
    margin:0;
}

header{
    width: 100%;
    min-height: 120px;
    background-color: lightgreen;
}

h1{
    margin-left: 20px;
}

main{
    width:100%;
    min-height:500px;
    display:flex;
}

section{
    width:75%;
    min-height: 603px;
    background-color: green;
    display:inline-block;
    margin:0;
    padding:0;

}

table td{
    border:1px solid black;
    padding:50px;
}
aside{
    width:24.73%;
    min-height: 603px;
    background-color: greenyellow;
    display:inline-block;
    margin:0;
    padding:0;
}