doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title DPL_PORYECTO
  link(rel='stylesheet' href='css/index.css')
header
  h1 DPL_PORYECTO
main
  section
    form(method='post')
      input(name='nombre')
      input(name='descr')
      button(type='submit') Enviar

    form(method='post' action='delete')
      input(name="id")
      button(type='sumbit') Borrar

    table
      thead
      td
        | id
      td
        | Nombre
      td
        | Descripci&oacute;n
      tbody
        each val in libros
          tr
            td= val.id
            td= val.nombre
            td= val.desc 
  aside
    ul
      li Tabla
      li Modificar
